<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Bootie Ecommerce Bootstrap Responsive Web Template | Shop :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Bootie Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>

    <!-- mian-content -->
    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="#"><span class="fa fa-bold" aria-hidden="true"></span>ootie</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        {% if request.session.userid %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop/">Shop Now</a></li>
                        <li class="active"><a href="/cart_view/">Cart</a></li>
                        <li><a href="/user_logout/">Logout</a></li>
                        {% else %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/register/">Register</a></li>
                        <li><a href="/login/">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

    </div>
    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Cart</li>
    </ol>
    <!---->
    <!-- banner -->
    <section class="ab-info-main py-md-5 py-4">
        <div class="container py-md-3">
            <!-- top Products -->
            <div class="row justify-content-center">
                <!-- product left -->
                
                <!-- //product left -->
                <!-- product right -->
                
                <div class="left-ads-display col-lg-8">
                    <h5 class=" text-center"><span class="sub-tittle"></span>Total items in cart : {{total_items}}</h5><br>
                    <div class="row">
                        {% for x in mycart %}
                        
                        <div class="col-md-4 product-men my-list-container">
                            <div class="product-shoe-info shoe text-center my-container" product_id="{{x.product.id}}" cart_id="{{x.id}}">
                                <div class="men-thumb-item">
                                    <img src="{{x.product.image.url}}" class="img-fluid" alt="">
                                    
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="#">{{x.product.product_name}} </a>
                                    </h4>

                                    <div class="product_price">
                                        <div class="grid-price">
                                            <span class="money">${{x.product.price}}</span>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <div class="grid-price">
                                            <form action="/delete_cart/" id="formedit" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id">
                                                <input type="hidden" name="cart_id">
                                          <button class="add-to-cart-btn delete">Delete</button>
                                        </form>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                        
                       
                        
                        
                        
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="#"><span class="fa fa-bold" aria-hidden="true"></span>ootie</a>
                    </h2>
                    
                    
                   
                </div>
                <div class="col-lg-8 footer-right">
                    
                    
                    <div class="cpy-right text-left row">
                        <p class="col-md-10">© 2023Bootie. All rights reserved | Design by
                            <a href="#"> W3layouts.</a>
                        </p>
                        <!-- move top icon -->
                        <a href="#" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                        <!-- //move top icon -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function() {
    
            $(".delete").on("click", function (e) {
                console.log("edit");
                let product_id=$(this).closest(".my-list-container").find('.my-container').attr("product_id");
                let cart_id=$(this).closest(".my-list-container").find('.my-container').attr("cart_id");
                console.log(product_id)
                $("#formedit  input[name='product_id']").val( product_id  );
                $("#formedit  input[name='cart_id']").val( cart_id  );
                
            });
    
        })
    </script>
</body>

</html>
